div.main-category.future-plan
	h3.title Какие у вас планы на будущее?
	p.description Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
	div.plans-category
		div.category
			input(id='html' name='plan' type='radio')
			label(for='html') Верстать
		div.category
			input(id='up_js' name='plan' type='radio' checked='checked')
			label(for='up_js') Прокачиваться в JS
		div.category
			input(id='management' name='plan' type='radio')
			label(for='management') Менеджерство
		div.category
			input(id='other' name='plan' type='radio')
			label(for='other') Другое
