div.main-category.js-scill-section
	h3.title Уровень владения JavaScript
	div#js_skill_map.js-skill-map
		span.slider
	div.skill-level
		p.title Не владею
		p.title Использую готовые решения
		p.title Использую готовые решения и умею их переделывать
		p.title Пишу сложный JS с нуля
