div.main-category.about
	h3.title Расскажите о себе словами
	p.description Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
	div(contenteditable= 'true').about-me Я верстаю два года и понимаю, что занимаясь фрилансом не смогу достойно прокачать свой скилл, я знаю, что вы очень крутая компания, и что вы можете дать огромный опыт, очень хочу с вами прокачаться в веб-разработке.
